<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67138472069-qkcuotqt6dkah3nhotnjgajv31mevmoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67138472069-qkcuotqt6dkah3nhotnjgajv31mevmoe</string>
	<key>API_KEY</key>
	<string>AIzaSyAwmTnA9txhB8X1TmtbakhUyh7PSzRh4Fo</string>
	<key>GCM_SENDER_ID</key>
	<string>67138472069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tunahanustuntepe.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-42deb</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-42deb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67138472069:ios:ccd359088397b5b36441ec</string>
</dict>
</plist>